{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}

{% block header %}
    <h2>Create a new account:</h2>
{% endblock header %}

{% block content %}
    <form action="{% url 'users:register' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

        <input type="hidden" name="next" value="{% url 'blogs:index' %}">
    </form>
{% endblock content %}
